* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: #eee;
  background-color: #8ea1ae;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: right;
  justify-content: right;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: #27363f;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: #eee;
}

nav a[aria-current='page'] {
  color: #eee;
  background-color: ;
}

main {
  padding: 1rem;
}

h1 {
  justify-content: center;
  font-weight: bold;
  font-size: 5rem;
}

main > p {
  justify-content: center;
  width: 500px;
}

footer {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: #27363f;
  text-decoration: none;
  color: #eee;

}

a {
  color: white;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

button {
  background-color: #dce0e8;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #27363f;
}

main > h2 {
  text-align: center;
}

table {
  display: table;
  justify-content: center;
}

th, td {
  justify-content: center;
  text-align: left;
  border: 1px solid #27363f;
  padding: 5px;
}

main > p {
  text-align: center;
}

.box {
  justify-content: center;
  margin: 3px;
  background: #27363f;
  color: white;
  text-align: center;
  font-weight: bold;
  width: 20%;
  border-radius: 10px;
}

.box a.button {
  display: block;
  width: 40%;
  margin: 10px auto;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  padding: 1px;
}